GTSRB/
.vscode/settings.json
X.pickle
trafficsigns.model/variables/variables.data-00001-of-00002
trafficsigns.model/variables/variables.index
trafficsigns.model/variables/variables.data-00000-of-00002
trafficsigns.model/saved_model.pb
X_training.pickle
logs/3-conv-64-nodes-0-dense-1572646179/train/events.out.tfevents.1572646181.DESKTOP-I43J9C3.19152.330.v2
logs/3-conv-64-nodes-0-dense-1572651657/train/events.out.tfevents.1572651657.DESKTOP-I43J9C3.3712.330.v2
.vscode/launch.json
__pycache__/readTrafficSigns.cpython-36.pyc
__pycache__/create_signs_training_data.cpython-36.pyc
y.pickle
y_training.pickle
test_X.pickle
test_y.pickle
train_X.pickle
train_y.pickle
*.jfif
*.pb
traffic_signs.model/variables/variables.data-00000-of-00002
traffic_signs.model/variables/variables.data-00001-of-00002
final_model_traffic_signs_2.model/variables/variables.data-00000-of-00002
final_model_traffic_signs_2.model/variables/variables.data-00001-of-00002
final_model_traffic_signs_2.model/variables/variables.index
final_model_traffic_signs_2.model/variables/variables.index
final_model_traffic_signs_2.model/variables/variables.data-00001-of-00002
final_model_traffic_signs_2.model/variables/variables.data-00000-of-00002
*.pyc
traffic_sign_full_training_set.model/variables/variables.data-00000-of-00002
traffic_sign_full_training_set.model/variables/variables.data-00001-of-00002
traffic_sign_full_training_set.model/variables/variables.data-00001-of-00002
traffic_sign_full_training_set_3.model/variables/variables.data-00000-of-00002
traffic_sign_full_training_set_3.model/variables/variables.data-00001-of-00002
*.data-00001-of-00002
presentation_code/__pycache__/get_data.cpython-36.pyc
presentation_code/__pycache__/model_3.cpython-36.pyc
presentation_code/__pycache__/plot_history.cpython-36.pyc
presentation_code/__pycache__/predict_custom_image.cpython-36.pyc
presentation_code/__pycache__/train_model.cpython-36.pyc
training_images.pickle
training_labels.pickle
